<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
	  <title><%= full_title(yield(:title)) %></title>
</head>
<body>
	<h1>Som detail information about triples brothers</h1>
	<p>
		<li>Papa is an famous actor, <a href="http://en.wikipedia.org/wiki/Song_Il-gook"> Song il Gook</a></li>
		<li>Mama is a judge</li>
		<li><img src="https://s-media-cache-ak0.pinimg.com/236x/45/4e/0e/454e0e701d8c56a03676502392cce8ee.jpg"></li>
	</p>
</body>
</html>