<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title> <%= yield(:title) %> | Deahan-Minguk-Manse</title>
</head>
<body>
	<center>
	<h1>Deahan-Minguk-Manse</h1>
	<p>Reality Show about triples brothers: Daehan-Minguk-Manse</p>
	<img src="http://static.tumblr.com/6037af51fb0dc923b5e0f356be7b49f6/rc4xrs5/LX4nl6uz1/tumblr_static_2ytxesz00zs4gowwgkcwk00kc.jpg">
	<p>You can watch at <a href="https://www.youtube.com/watch?v=7ja6t_ufGeg">Youtube</a></p>
	</center>
</body>
</html>
