<%= form_for(@comment) do |f| %>
  <div class="field">
  <%= f.hidden_field :entry_id, value: @entry.id %>
    Content    
    <%= f.text_area :body, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>